############################################
# .NET
############################################
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.config.user

############################################
# Visual Studio 
############################################
.vs/
.idea/
.vscode/
*.swp
*.tmp

############################################
# Logs
############################################
*.log
logs/
log/

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# Build / Publish
############################################
publish/
*.nupkg
*.snupkg

############################################
# Secrets / Config
############################################
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
appsettings.json
secrets.json

############################################
# Environment variables
############################################
.env
.env.*

############################################
# Tests
############################################
TestResults/
coverage/
coverage.cobertura.xml

############################################
# Docker
############################################
**/docker-compose.override.yml
*.env
